body, .title, .subtitle, .input, .textarea, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    /* color: rgb(40, 40, 40); */
    color: black;
}

.is-vue {
    background-color: rgb(79, 192, 141);
    color: black;
}

.navbar-item {
    color: black;
}

a.navbar-item:hover {
    color: #35495e;
}

.button.is-vue {
    background-color: rgb(79, 192, 141);
    border-color: transparent;
    /* color: rgb(44, 62, 80); */
    color: black;
}

.notification.is-vue {
    background-color: rgb(79, 192, 141);
    /*color: rgb(25, 25, 25);*/
    color: black;
}

.btnbulma {
    border: 1px solid black;
    padding-top: 11px;
    border-radius: 5px;
}

.table {
    color: black;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: rgb(236, 236, 236);
}

.table tbody td {
    text-align: center!important;
}

.table thead th {
    text-align: center!important;
    background-color: rgb(79, 192, 141);
    /*color: rgb(25, 25, 25);*/
    color: black;
}