/*navbar*/

/* Clase para icono en la esquina de la barra de navegacion */

.logo {
	height: 28px;
}

.hero.is-dark, .button.is-dark {
	background-color: rgb(40, 40, 40);
	color: white;
}

body, .title, .subtitle, .input, .textarea {
	color: rgb(40, 40, 40);
}

/*index.html*/

/* Clase para logo de la portada */

.logoportada {
	height: 130px;
	border-radius: 80px;
}

/* Clase para el fondo de la portada */

.portada {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../img/navbar/nature.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	line-height: 1.2;
	padding: 10vw 2em;
	text-align: center;
}

/* Clases para algun posible boton en la portada */

.btnp {
	border: 1px solid white;
	border-radius: 70px;
	color: white;
	letter-spacing: 0.05em;
	padding: 0.8em 1em;
	text-decoration: none;
	transition: none 200ms ease-out;
	transition-property: color, background;
}

.btnp:hover {
	background: white;
	color: black;
}

/* Clase para iconos de la portada */

.iconr {
	height: 100px;
	margin-top: 5px;
	object-fit: scale-down;
}

/* Clases para el color de los botones de redes sociales */

.fbc {
	background-color: rgb(59, 89, 152);
	border-color: transparent;
	color: white;
}

.twc {
	background-color: rgb(0, 172, 237);
	border-color: transparent;
	color: white;
}

.wac {
	background-color: rgb(37, 211, 102);
	border-color: transparent;
	color: white;
}

.igc {
	background: linear-gradient(to bottom right, rgb(76, 104, 215), rgb(138, 58, 185), rgb(188, 42, 141), rgb(233, 89, 80), rgb(252, 204, 99));
	border-color: rgb(225, 225, 225);
	color: white;
}

.lic {
	background-color: rgb(0, 119, 181);
	border-color: transparent;
	color: white;
}

.ghc {
	background-color: rgb(36, 41, 46);
	border-color: transparent;
	color: white;
}

.ytc {
	background-color: red;
	border-color: transparent;
	color: white;
}

/* hovers para los botones */

.fbc:hover {
	background-color: rgb(49, 75, 127);
	border-color: transparent;
	color: white;
}

.twc:hover {
	background-color: rgb(0, 153, 211);
	border-color: transparent;
	color: white;
}

.wac:hover {
	background-color: rgb(33, 185, 90);
	border-color: transparent;
	color: white;
}

.igc:hover {
	background: linear-gradient(to bottom right, rgb(67, 92, 189), rgb(119, 50, 159), rgb(162, 36, 122), rgb(207, 79, 71), rgb(226, 183, 89));
	border-color: rgb(225, 225, 225);
	color: white;
}

.lic:hover {
	background-color: rgb(0, 102, 155);
	border-color: transparent;
	color: white;
}

.ghc:hover {
	background-color: rgb(46, 52, 59);
	border-color: transparent;
	color: white;
}

.ytc:hover {
	background-color: rgb(229, 0, 0);
	border-color: transparent;
	color: white;
}

/* Clases para el video */

.embed-video {
	max-width: 800px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 56.25% para que tenga 16:9 */
	padding-top: 0px;
	height: 0;
	margin: 0 auto;
	overflow: hidden;
}

.videoWrapper iframe, .videoWrapper object, .videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*aptitudes.html*/

/* Clase para iconos de Intereses Personales */

.icona {
	height: 100px;
}

/*habilidades.html*/

/* Clase para iconos de habilidades */

.iconp {
	height: 90px;
	object-fit: scale-down;
	text-align: center;
}

/*trabajos.html*/

/* Clase para iconos de cada trabajo */

.icont {
	height: 100px;
	margin-bottom: 5px;
	object-fit: scale-down;
}