/*navbar*/

/* Clase para icono en la esquina de la barra de navegacion */
.logo {
	height: 28px;
}

.hero.is-dark, .button.is-dark {
	background-color: rgb(40, 40, 40);
	color: white;
}

body, .title, .subtitle, .input, .textarea {
	color: rgb(40, 40, 40);
}

.button {
	transition: color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

.button.is-focused, .button:focus {
	border-color: #adadad;
	color: #ffffff;
}

.button.is-focused:not(:active), .button:focus:not(:active) {
	-webkit-box-shadow: 0 0 0 0.125em rgba(70, 70, 70, 0.40);
	box-shadow: 0 0 0 0.125em rgba(70, 70, 70, 0.40);
}

/* Clases para que se hagan mas negros los botones de la izq de la barra de navegacion */
.navbar.is-dark .navbar-brand .navbar-link.is-active, .navbar.is-dark .navbar-brand .navbar-link:hover, .navbar.is-dark .navbar-brand>a.navbar-item.is-active, .navbar.is-dark .navbar-brand>a.navbar-item:hover {
	background-color: #2f2f2f;
	transition: color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

/* Clase para que se hagan mas negros los botones de la derecha de la bara de navegacion */
@media screen and (min-width: 1024px) {
	.navbar.is-dark .navbar-end .navbar-link.is-active, .navbar.is-dark .navbar-end .navbar-link:hover, .navbar.is-dark .navbar-end>a.navbar-item.is-active, .navbar.is-dark .navbar-end>a.navbar-item:hover, .navbar.is-dark .navbar-start .navbar-link.is-active, .navbar.is-dark .navbar-start .navbar-link:hover, .navbar.is-dark .navbar-start>a.navbar-item.is-active, .navbar.is-dark .navbar-start>a.navbar-item:hover {
		background-color: #2f2f2f;
	}
}

/* Clase para que se haga mas negro los botones del footer cuando se haga hover */
.hero.is-dark a.navbar-item:hover {
	background-color: #2f2f2f;
	transition: color 0.20s ease-in-out, background-color 0.20s ease-in-out, border-color 0.20s ease-in-out, box-shadow 0.20s ease-in-out;
}

/* Clase para el menu de la hamburguesita */
@media screen and (max-width: 1023px) {
	.hero.is-dark .navbar-menu {
		background-color: rgb(40, 40, 40);
	}
}