<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>VUE js Prueba</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">-->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <h1 class="text-center">
        <strong>Lista de Tareas con VUE js</strong>
    </h1>
</head>
<hr>

<body>
    <div id="appVue">
        <div class="container">
            <!--Con Bootstrap-->
            <div class="row col-sm-7">
                <div>
                    <h1 v-if="lists.length > 0">Agregar Tarea</h1>
                    <h1 v-else="lists">Crear Tarea</h1>
                    <input type="text" class="form-control" v-model="newKeep" v-on:keyup.enter="addKeep">
                </div>
                <hr>
                <div>
                    <h1 v-if="lists.length > 0">Lista de Tareas</h1>
                    <h1 v-else="lists">No hay Tareas</h1>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in lists" v-bind:class="item.completed == true ? 'disabled' : ''" @click="item.completed = ! item.completed">
                            {{ item.keep }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5">
                <h1>Creditos</h1>
                <div class="alert alert-info">
                    <h4>
                        <strong>Lista de Tareas</strong>
                    </h4>
                    <p>
                        Creada usando
                        <a href="https://vuejs.org/" target="_blank">VUE js</a>.
                    </p>
                    <p>
                        Escribe alguna tarea y luego presiona 'Intro'.
                        <br>Haz click sobre cada tarea para marcarla.
                    </p>
                    <br>
                    <p>
                        Producido Por:
                        <br>
                        <a href="https://pmz94.github.io" target="_blank">
                            <strong>Pedro Muñoz Zubía</strong>
                        </a>
                    </p>
                    <p>
                        <a href="https://www.facebook.com/pmz94" target="_blank">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                        <a href="https://www.twitter.com/pmz94" target="_blank">
                            <i class="fab fa-twitter-square fa-2x"></i>
                        </a>
                        <a href="https://www.github.com/pmz94" target="_blank">
                            <i class="fab fa-github-square fa-2x"></i>
                        </a>
                    </p>
                </div>
                <div>
                    <hr>
                    <pre>
                        {{ $data | json }}
                    </pre>
                </div>
            </div>
            <!--Con Bulma-->
            <!--<div class="columns">
                <div class="column is-7">
                    <div>
                        <h1 class="title is-1" v-if="lists.length > 0">Agregar Tarea</h1>
                        <h1 class="title is-1" v-else="lists">Crear Tarea</h1>
                        <input class="input" type="text" v-model="newKeep" v-on:keyup.enter="addKeep">
                    </div>
                    <hr>
                    <div class="menu">
                        <h1 class="title is-1" v-if="lists.length > 0">Lista de Tareas</h1>
                        <h1 class="title is-1" v-else="lists">No hay Tareas</h1>
                        <ul class="menu-list">
                            <li v-for="item in lists" v-bind:class="item.completed == true ? 'disabled' : ''" @click="item.completed = ! item.completed">
                                <a>{{ item.keep }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="column is-5">
                    <h1 class="title is-1">Creditos</h1>
                    <div class="notification is-info">
                        <h4 class="title is-4">
                            <strong>Lista de Tareas</strong>
                        </h4>
                        <p>
                            Creada usando
                            <a href="https://vuejs.org/" target="_blank">VUE js</a>.
                        </p>
                        <p>
                            Escribe alguna tarea y luego presiona 'Intro'.
                            <br>Haz click sobre cada tarea para marcarla.
                        </p>
                        <br>
                        <p>
                            Producido Por:
                            <br>
                            <a href="https://pmz94.github.io" target="_blank">
                                <strong>Pedro Muñoz Zubía</strong>
                            </a>
                        </p>
                        <p>
                            <a href="https://www.facebook.com/pmz94" target="_blank">
                                <i class="fab fa-facebook-square fa-lg"></i>
                            </a>
                            <a href="https://www.twitter.com/pmz94" target="_blank">
                                <i class="fab fa-twitter-square fa-lg"></i>
                            </a>
                            <a href="https://www.github.com/pmz94" target="_blank">
                                <i class="fab fa-github-square fa-lg"></i>
                            </a>
                        </p>
                    </div>
                    <div>
                        <hr>
                        <pre>
                            {{ $data | json }}
                        </pre>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>